<mat-card class="corporate-card">
  <div class="card-header">
    <div>
      <h2 class="card-title">Inventario de Materiales</h2>
      <p class="card-subtitle">Listado completo de insumos en bodega</p>
    </div>
    <button mat-flat-button color="primary" class="btn-action" (click)="abrirFormulario()">
      + Nuevo Material
    </button>
  </div>
  
  <mat-card-content class="table-container">
    
    <table mat-table [dataSource]="listaMateriales" class="tabla-completa">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="table-header"> ID </th>
        <td mat-cell *matCellDef="let material"> <strong>#{{material.id}}</strong> </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef class="table-header"> Descripción del Material </th>
        <td mat-cell *matCellDef="let material"> {{material.nombre}} </td>
      </ng-container>

      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef class="table-header table-right"> Costo Unitario </th>
        <td mat-cell *matCellDef="let material" class="table-right value-cell"> 
          {{ material.precioUnitario | currency }} 
        </td>
      </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef class="table-header table-right"> Acciones </th>
        <td mat-cell *matCellDef="let material" class="table-right">
          
          <button mat-icon-button style="color: #2563eb; margin-right: 8px;" (click)="abrirFormulario(material); $event.stopPropagation()">
            <span class="material-icons">edit</span>
          </button>

          <button mat-icon-button style="color: #ef4444;" (click)="eliminarMaterial(material.id, material.nombre); $event.stopPropagation()">
            <span class="material-icons">delete</span>
          </button>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
      <tr mat-row *matRowDef="let row; columns: columnasAMostrar;" class="table-row-hover"></tr>
      
    </table>
    
    <div *ngIf="listaMateriales.length === 0" class="mensaje-vacio">
      <p>No hay materiales registrados. Haz clic en "Nuevo Material" para comenzar.</p>
    </div>
    
  </mat-card-content>
</mat-card>